---

import createSlug from "../lib/createSlug";
import HorizontalCard from "../components/HorizontalCard.astro";
---
<div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
</div>

<a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
    <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
    ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
    ></circle>
    </svg>
</a>

    <a
            href="https://manuelernestog.github.io/support-my-work/"
            target="_blank"
            class="mx-3"
            aria-label="Support my work"
            title="Support my work"
    >
        <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: currentColor;transform: ;msFilter:;"
        ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M5 2h2v3H5zm4 0h2v3H9zm4 0h2v3h-2zm6 7h-2V7H3v11c0 1.654 1.346 3 3 3h8c1.654 0 3-1.346 3-3h2c1.103 0 2-.897 2-2v-5c0-1.103-.897-2-2-2zm-4 9a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9h10v9zm2-2v-5h2l.002 5H17z"
        ></path></svg
        >
    </a>

<HorizontalCard
        title="Demo Project 1"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
        badge="NEW"
/>
<div class="divider my-0"></div>
<HorizontalCard
        title="Demo Project 2"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
/>
<div class="divider my-0"></div>
<HorizontalCard
        title="Demo Project 3"
        img="/post_img.webp"
        desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        url="#"
        badge="FOSS"
/>

<div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
</div>

{
    last_posts.map((post) => (
    <>
        <HorizontalCard
                title={post.data.title}
                img={post.data.heroImage}
                desc={post.data.description}
                url={"/blog/" + createSlug(post.data.title, post.slug)}
                target="_self"
                badge={post.data.badge}
        />
        <div class="divider my-0" />
    </>
        ))
    }
</BaseLayout>