---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Vassilis Papapanagiotou</div>
    <div class="text-3xl py-3 font-bold">Computer and Data Scientist, PhD</div>
    <div class="py-2">
      <text class="text-lg">
        Seasoned Data Scientist and Software Engineer with an avid
        interest in  <em>blockchain, AI, finance and big data</em>
        underscored by a proven track record in developing and
        deploying software for the industries of Banking, IoT, logistics,
        research institutions and private clients. Proven Expertise in
        Data Science and Analytics, Software Engineering, Machine
        Learning, Optimization and Deep Learning; PhD in Computer
        Science with specialization in Artificial Intelligence from the
        world-renowned Swiss AI lab (IDSIA - Dalle Molle Institute for
        Artificial Intelligence)
      </text>
    </div>
  </div>
</BaseLayout>
